* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

.hero-bg-video {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -999;
}

header {
  height: 22vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6vw;
}

header a img {
  height: 3rem;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  color: #030903;
  font-weight: 600;
  transition: all 0.2 ease-in-out;
}

header nav a:hover {
  color: #c61eb2;
}

.knowledge-base-link i {
  transition: rotate 0.2s ease-in-out;
}

.knowledge-base-link:hover i {
  rotate: 180deg;
}

.knowledge-base-link {
  position: relative;
}

.knowledge-base-container {
  background-color: #f4faff;
  position: absolute;
  height: 140px;
  width: 160px;
  border: 3px solid #d5ecff;
  margin-top: 1px;
  border-radius: 10px;
  padding: 1.2rem 1rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  opacity: 0;
}

.knowledge-base-link:hover ~ .knowledge-base-container {
  opacity: 1;
}

.visit-store {
  padding: 0.9rem 1.8rem;
  color: #030903;
  background-color: #ffffff;
  border-radius: 0.9rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.visit-store:hover {
  background: linear-gradient(120deg, #9d108d, #c44794);
  color: white;
}

.staggered-bar {
  font-size: 24px;
  display: none;
}

@media (max-width: 1056px) {
  header nav a {
    display: none;
  }

  .visit-store {
    display: none;
  }

  .staggered-bar {
    display: block;
  }
}

/* main section */

.main-text {
  width: 600px;
  padding: 120px 6vw;
}

.main-text h4 {
  font-size: 60px;
}

.main-text p {
  padding-top: 10px;
  font-size: 17px;
}
